## Settings file was created by plugin HotbarPlus v1.3.1
## Plugin GUID: FlipMods.HotbarPlus

[HotbarPlus - Client]

## Use the quick item selection numerical hotkeys.
# Setting type: Boolean
# Default value: true
UseHotbarNumberHotkeys = true

## Inverts the hotbar scroll direction.
# Setting type: Boolean
# Default value: true
InvertHotbarScrollDirection = true

## If enabled, dropping an item will automatically swap to the next item for easier chain dropping.
# Setting type: Boolean
# Default value: true
UseItemQuickDropConfig = true

## Emote 1 hotkey.
# Setting type: String
# Default value: F1
RebindEmote1 = F1

## Emote 2 hotkey.
# Setting type: String
# Default value: F2
RebindEmote2 = F2

[HotbarPlus - Server]

## The amount of hotbar slots player will have.
# Setting type: Int32
# Default value: 4
HotbarSize = 6

