## Settings file was created by plugin LC Sound Tool v1.3.2
## Plugin GUID: LCSoundTool

[Experimental]

## Whether or not to use the networking built into this plugin. If set to true everyone in the lobby needs LCSoundTool to join.
# Setting type: Boolean
# Default value: false
EnableNetworking = false

