## Settings file was created by plugin Better Item Scan v2.1.0.0
## Plugin GUID: PopleZoo.BetterItemScan

[Settings]

## Shows the change in width of the area to scan
# Setting type: Boolean
# Default value: false
ShowDebugMode = false

## Whether or not to show the ship's total only in the ship
# Setting type: Boolean
# Default value: false
ShowShipTotalOnShipOnly = false

## Whether or not to show the total scanned in the ship only
# Setting type: Boolean
# Default value: false
ShowTotalOnShipOnly = false

## Whether or not to calculate scanned items to see which meet the quota and if any do
# Setting type: Boolean
# Default value: true
CalculateForQuota = false

## The default width is 20
# Setting type: Single
# Default value: 20
ItemScanRadius = 20

## The default value is 5f, how long the ui stays on screen
# Setting type: Single
# Default value: 3
ItemScaningUICooldown = 3

## The default value is 0, you will add or take away from its original position
# Setting type: Single
# Default value: 0
AdjustScreenPositionXaxis = 0

## The default value is 0, you will add or take away from its original position
# Setting type: Single
# Default value: 0
AdjustScreenPositionYaxis = 0

ShowOnShipOnly = false

